/* hiding the ugly url bar */
.contentTabToolbox {
	display: none !important;
}

#searchAllAB {
    -moz-context-properties: fill;
    fill: currentColor;
}
#searchAllAB.allAB {
    content: url("../skin/icons/allAB.svg");
}
#searchAllAB.oneAB {
    content: url("../skin/icons/oneAB.svg");
}

.boldFont {
	font-weight: bold;
}

.box {
	display: flex;
}
.alignCenter {
	align-items: center;
}
.hidden {
	display: none !important;
}
.disabled {
	color: graytext;
}
.overflow {
	overflow: auto;
}
.nowrap {
	white-space: nowrap;
}
