.cardbookAdd {
	content: url("../skin/small-icons/add.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
.cardbookDelete {
	content: url("../skin/small-icons/delete.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
.cardbookUp {
	content: url("../skin/small-icons/arrow-up.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
.cardbookDown {
	content: url("../skin/small-icons/arrow-down.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
.cardbookLink {
	content: url("../skin/small-icons/link.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
.cardbookValidated {
	content: url("../skin/small-icons/validated.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
.cardbookNotValidated {
	content: url("../skin/small-icons/notvalidated.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
