:root {
	--color-orange-30: #fdba74;
	--color-orange-60: #ea580c;
}
.cardbookPrefStarClass {
	content: url("../skin/icons/star.svg");
	-moz-context-properties: fill, stroke;
	fill: color-mix(in srgb, currentColor 10%, transparent);
	stroke: color-mix(in srgb, currentColor 30%, transparent);
	border-radius: var(--toolbarbutton-border-radius);
}
.cardbookPrefStarClass[haspref="true"] {
	fill: var(--color-orange-30) !important;
	stroke: var(--color-orange-60);
}
.cardbookPrefStarClass:not([haspref="true"]):hover {
	fill: color-mix(in srgb, currentColor 20%, transparent);
	stroke: currentColor;
}

.cardbookKeyClass {
	content: url("../skin/icons/key.svg");
	-moz-context-properties: fill, stroke;
	fill: var(--color-orange-30) !important;
	stroke: var(--color-orange-60);
	border-radius: var(--toolbarbutton-border-radius);
}
