#wdw_addressbooksAddBody {
	overflow: auto;
}

#remotePageURITable,
#remotePageTable {
	width: 700px;
}
#remotePageURI,
#remotePageUsername,
#remotePagePassword {
	flex: 1;
}

#localPageURI {
	flex: 1;
}
#findPageNotificationsMessage,
#resultNotificationsMessage {
		width: 450px;
}
