menuitem[ABtype="localdb"] {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/localdb.svg");
}
menuitem[ABtype="file"] {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/file.svg");
}
menuitem[ABtype="directory"] {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/directory.svg");
}
menuitem[ABtype="remote"] {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/remote.svg");
}
menuitem[ABtype="search"] {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/search.svg");
}
menuitem[ABtype="standard-abook"] {
	list-style-image: url("chrome://cardbook/content/skin/icons/addressbooks/standardAB.svg");
}
