:root {
    --listbox-selected-outline: none;
    --tree-header-table-height: 30px;
    --tree-header-cell-padding: 6px;
    --tree-header-cell-indent: 0;
    --list-item-min-height: 26px;
    --list-item-buttons-size: 22px;
    --table-header-cell-icon-width: 24px;
    --table-header-cell-icon-min-width: 24px;
    --table-row-cell-img-margin-inline-start: 6px;
    --table-row-cell-button-margin-inline-start: 4px;
    --in-content-button-height: 2.2em;
    --in-content-box-border-color: color-mix(in srgb, currentColor 41%, transparent);
    --in-content-button-border-radius: 3px;
    --in-content-box-background: #fff;
}

:root[uidensity="compact"] {
    --tree-header-table-height: 27px;
    --tree-header-cell-padding: 3px;
    --tree-header-cell-indent: 3px;
    --list-item-min-height: 18px;
    --list-item-buttons-size: 18px;
    --table-header-cell-icon-width: 18px;
    --table-header-cell-icon-min-width: 18px;
    --table-header-cell-icon-button-padding: 0;
    --table-row-cell-img-margin-inline-start: 3px;
    --table-row-cell-button-margin-inline-start: 1px;
}

:root[uidensity="touch"] {
    --tree-header-table-height: 36px;
    --tree-header-cell-padding: 9px;
    --tree-header-cell-indent: -3px;
    --list-item-min-height: 32px;
    --table-header-cell-icon-width: 33px;
    --table-header-cell-icon-min-width: 33px;
    --table-row-cell-img-margin-inline-start: 11px;
    --table-row-cell-button-margin-inline-start: 9px;
}

@media not (prefers-contrast) {
    :root {
        --listbox-color: var(--color-gray-80);
        --listbox-selected-bg: var(--color-gray-20);
        --listbox-focused-selected-bg: var(--selected-item-color);
        --listbox-selected-color: var(--selected-item-text-color);
        --listbox-focused-selected-color: var(--selected-item-text-color);
        --listbox-hover: color-mix(in srgb, transparent 80%, var(--listbox-focused-selected-bg));
        --listbox-border-type: dashed;
        --tree-view-bg: var(--color-white);
        --tree-view-color: var(--color-ink-90);
        --tree-view-header-hover-bg: var(--color-gray-20);
        --tree-view-header-hover-active-bg: var(--color-gray-30);
        --tree-view-header-border-color: var(--color-gray-30);
        --tree-row-delete-button-color: var(--color-red-60);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --listbox-color: var(--color-gray-05);
            --listbox-selected-bg: var(--color-gray-70);
            --listbox-focused-selected-bg: var(--color-blue-60);
            --tree-view-bg: var(--color-gray-90);
            --tree-view-color: var(--color-gray-30);
            --tree-view-header-hover-bg: var(--color-gray-70);
            --tree-view-header-hover-active-bg: var(--color-gray-90);
            --tree-view-header-border-color: var(--splitter-color);
            --tree-row-delete-button-color: var(--color-red-40);
            --in-content-box-background: rgb(35, 34, 43);
        }
    }
}

#defaultCardImage {
	border-radius: 100%;
	width: 150px;
	height: 150px;
	background-color: var(--in-content-button-background);
	-moz-context-properties: stroke;
	stroke: color-mix(in srgb, transparent 50%, var(--recipient-avatar-color));
}

.twisty-icon {
	-moz-context-properties: fill, fill-opacity;
	fill: currentColor;
	fill-opacity: 1;
	margin-left: 10px;
	margin-right: 10px;
}
.twisty-icon[state="down"] {
	content: url("../skin/small-icons/arrow-down.svg");
}
.twisty-icon[state="up"] {
	content: url("../skin/small-icons/arrow-up.svg");
}
.twisty-icon[state="right"] {
	content: url("../skin/small-icons/arrow-right.svg");
}

.cardbookProcessFnClass,
.cardbookProcessClass {
	-moz-context-properties: fill;
	content: url("../skin/icons/computeKO.svg");
	fill: currentColor;
	margin-right: 10px;
}
.cardbookProcessFnClass[autoComputeFn="true"],
.cardbookProcessClass[autoConvertField="true"] {
	content: url("../skin/icons/computeOK.svg");
}

#createTemplateButtonImg {
	-moz-context-properties: fill;
	content: url("../skin/icons/addtemplate.svg");
	fill: currentColor;
	margin-left: 10px;
	margin-right: 10px;
}
#openTemplateButtonImg {
	-moz-context-properties: fill;
	content: url("../skin/icons/opentemplate.svg");
	fill: currentColor;
	margin-left: 10px;
	margin-right: 10px;
}
#applyTemplateButtonImg {
	-moz-context-properties: fill;
	content: url("../skin/icons/applytemplate.svg");
	fill: currentColor;
	margin-left: 10px;
	margin-right: 10px;
}
#previousEditButtonImg {
	-moz-context-properties: fill;
	content: url("../skin/icons/previous.svg");
	fill: currentColor;
	margin-left: 10px;
	margin-right: 10px;
}
#nextEditButtonImg {
	-moz-context-properties: fill;
	content: url("../skin/icons/next.svg");
	fill: currentColor;
	margin-left: 10px;
	margin-right: 10px;
}

#noteGroupbox,
#noteTabPanel {
    width: 100%;
    height: 100%;
}
#noteInputText {
    width: 100%;
    height: 100vh;
}

#noteDateButtonImg {
	content: url("../skin/icons/calendar.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
#searchForOnlineKeyButtonImg {
	content: url("../skin/icons/addressbooks/remote.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
#searchForThKeyEditButtonImg {
	content: url("../skin/icons/addressbooks/localdb.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}
#searchForLocalKeyEditButtonImg {
	content: url("../skin/icons/addressbooks/file.svg");
	-moz-context-properties: fill;
	fill: currentColor;
}

:root {
    --color-gray-40: #a1a1aa;
    --color-gray-60: #52525b;

    --layout-border-1: var(--color-gray-40);
}
@media (prefers-color-scheme: dark) {
    :root {
        --layout-border-1: var(--color-gray-60);
    }
}
@media (prefers-contrast) {
    :root:not(:-moz-lwtheme) {
        --layout-border-1: currentColor;
    }
}
:root {
    --arrowpanel-border-color: var(--layout-border-1);
    --arrowpanel-border-radius: 8px;
}

#availableCardsTree,
#addedCardsTree {
    width: 400px;
    height: 400px;
    border: 1px solid var(--arrowpanel-border-color);
    border-radius: var(--arrowpanel-border-radius);
}

textarea.text-link {
    border: none;
    background-color: transparent;
}

#headerTable td:first-child {
    min-width: 200px;
}
#headerTable td:not(:first-child) {
    width: 100%;
    max-width: 400px;
}