#messageLabel {
  padding-left: 10px;
}

.infoIcon,
.warningIcon,
.questionIcon {
  width: 48px;
  height: 48px;
  -moz-context-properties: fill;
  fill: currentColor;
}

.infoIcon {
  content: url("../skin/icons/alert/info.svg");
  -moz-context-properties: fill, fill-opacity;
  fill-opacity: 0.8;
}

.warningIcon {
  content: url("../skin/icons/alert/warning.svg");
  fill: #ffa436;
}

.questionIcon {
  content: url("../skin/icons/alert/question.svg");
  -moz-context-properties: fill, fill-opacity;
  fill-opacity: 0.8;
}